*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: #1f2937;
    padding: 5px 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#heroimg{
    width: 400px;
}
.heroImg{
    order: 1;
}
/* .heroText{
    
} */
.mainText{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.secText{
    font-size: 18px;
    color: #e5e7eb;
}
span{
    color: red;
}
heroBtn{
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 5px;
}
h2{
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 10px;
    text-align: center;
}
.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    max-width: 150px;
}
img{
    width: 100px;
    height: 100px;
}
