*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
}

header, footer{
    background-color: #1f2937;
    
}
header{
    padding: 35px 55px;
    margin-bottom: 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    
}
ul{
    list-style-type: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 14px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.heroSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.heroText{
    max-width: 520px;
}

#heroimg{
    width: 400px;
    height: 300px;
}



.mainText{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.secText{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0px;
}
span{
    color: red;
}
.heroBtn{
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
}
h2{
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 10px;
    text-align: center;
}
.infoBox{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.card{
    max-width: 200px;
}
    
.cardImg{
    width: 100%;
    height: 130px;
    /* border: 2.5px solid #3882f6; */
    border-radius: 8px; 
   
}
.quote{
    background-color: #e5e7eb;
    margin-bottom: 30px;

}
.quoteItem{
    padding: 32px 43px;
    max-width: 630px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.quoteText{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #1f2937;
}
.author{
    text-align: right;
    font-weight: bolder;
    font-size: 18px;
    color: #1f2937;
}
.action{
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 21px 30px;
    margin-bottom: 30px;
}
h5{
    font-size: 14px;
}
.actPar{
    font-size: small;
}
.actBtn{
    border: 1px solid #fff;
    background-color: #3882f6;
    color: #fff;
    padding:7px 19px;
    border-radius: 5px;
}
   
footer{
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
}


